In [2]:
from flask import Flask, jsonify
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
Database_URI = "postgres+psycopg2://postgres:postgres@localhost:5432/occdb"
engine = create_engine(Database_URI)
data = pd.read_sql("SELECT * FROM occupation", engine)
data.head()

   area_id  area  area_title               occ_title  tot_emp h_mean   a_mean
0        1     1     Alabama  Management Occupations   73,860  52.73  109,680
1        2     2      Alaska  Management Occupations   19,780  52.55  109,310
2        3     4     Arizona  Management Occupations  168,480  50.45  104,940
3        4     5    Arkansas  Management Occupations   62,780  43.58   90,640
4        5     6  California  Management Occupations  996,830  65.31  135,840

In [20]:
app = Flask(__name__)

In [21]:
@app.route("/")
def welcome():
    return (
        f"Welcome to the Occupational Data API!<br/>"
        f"area_title:<br/>"
        f"/api/v1.0/occ_title<br/>"
        f"/api/v1.0/tot_emp<br/>"
        f"/api/v1.0/h_mean<br/>"
        f"/api/v1.0/a_mean/end"
    )